<div class="row">
  <div class="container">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="col-lg-12">
        <img src="/assets/burger.png" alt="burger picture" class="img-responsive">
      </div>
      <h1 id="mainTitle" class="text-center"> Eat-Da-Burger</h1>
    </div>
    <div class="col-lg-12">
      <div class="col-lg-6" id="undevouredBurgers">
        {{#each burgers}} {{#unless this.devoured}}
        <div class="well well-lg text-center"><b>{{this.name}}</b>
        <br>
        <br>
          <form action="/{{this.id}}/0?_method=PUT" method="POST">
            <button class="center-block" type="submit">Devour</button>
          </form>
          <br>
          <form action="/{{this.id}}/?_method=DELETE" method="POST">
            <button class="center-block" type="submit">Wrong Burger!</button>
          </form>
        </div>
        {{/unless}} {{/each}}
      </div>
      <div class="col-lg-6" id="devouredBurgers">
        {{#each burgers}} {{#if this.devoured}}
        <div class=" devouredwell well well-lg text-center"><b>{{this.name}}</b>
        <br>
        <br>
          <form action="/{{this.id}}/1?_method=PUT" method="POST">
            <button class="center-block" type="submit">Eat Another</button>
            <br>
            <br>
          </form>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <form action="/?_method=POST" method="POST">
        <h4>Burger Name: </h4>
        <input type="text" name="name">
        <button type="submit">Submit</button>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>